* text=auto eol=lf

.github/ export-ignore

shell/ export-ignore
tests/ export-ignore

.gitattributes export-ignore
.gitignore export-ignore

action.yml export-ignore
Dockerfile export-ignore
entrypoint.sh export-ignore

phpunit.xml export-ignore

BACKERS.md export-ignore
CONTRIBUTING.md export-ignore
CHANGELOG.md export-ignore
